<div class="page-header">
  <h1>RAG Projects Dashboard</h1>
</div>

<table class="table">
  <thead>
    <th>Project</th>
    <th>Project Code</th>
  </thead>
  <tbody>
    <% @deltek.each do |project| %>
      <tr>
        <td><%= project[:name] %></td>
        <td><%= project[:bill_wbs1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
